p{
   font-family: Montserrat;
}


.model{
  
   font-weight: bold;
   text-align: center;
   font-size: 30px;

}

.order{
  
  text-align: center;
}

.link{
  text-decoration: underline;
  cursor: pointer;
}

.link:hover{
    color: blue;
}